:root {
  --navbar-font-color: #4f4c55;
  --card-color: #00001a;
  --card-big-font-color: #e1a84e;
  --card-small-font-color: #a4a5ba;
  --normal-hover-color: #f25c52;
  --font-color: #9b99a1;
  --line-color: #535257;
}